@import "tailwindcss";


@font-face {
    font-family: "Long";
    src: url("/fonts/long.woff");
  }
  
  @font-face {
    font-family: "Round";
    src: url("/fonts/round.woff");
  }
  
  @font-face {
    font-family: "Round Bold";
    font-weight: bold;
    src: url("/fonts/round-bold.woff");
  }
  
  @theme {
    --font-sans: "Round", sans-serif;
    --font-long: "Long", sans-serif;
    --font-round-bold: "Round Bold", sans-serif;
  
    --color-yellow: #d6d6a1;       
    --color-green: #4a5d23;       
    --color-brown: #7a5230;       
    --color-gray: #5c5c5c;         
    --color-red: #7b1e1e;          
    --color-black: #000;        
  
    
    --breakpoint-sm: 40rem;
    --breakpoint-xs: 20rem;
    --breakpoint-3xl: 120rem;
  }
  
  body {
    width: 100dvw;
    overflow-x: hidden;
    font-family: "Round", sans-serif;
    background-color: var(--color-black);
  }
  
  
  
  @layer utilities {
    .flex-center {
      @apply flex justify-center items-center;
    }
    .col-center {
      @apply flex flex-col justify-center items-center;
    }
    .abs-center {
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
    }
  }
  
  @layer components {
    main {
      @apply w-dvw overflow-x-hidden;
    }
    nav {
      @apply fixed top-0 left-0 w-full flex justify-between items-center md:p-8 p-5 z-[100];
    }
    .gradient-title {
      @apply md:text-[7rem] text-[5rem] font-round-bold !font-extrabold uppercase 
        md:leading-[7rem] leading-[4.5rem] text-center 
        bg-gradient-to-r from-[#3f3f3f] via-[#6b4f36] to-[#c7b299] 
        bg-clip-text text-transparent;
    }
    
    .hero-section {
      @apply w-dvw h-dvh relative overflow-hidden;
  
      .scale-out {
        @apply object-cover md:scale-125 h-full;
      }
      .title-logo {
        @apply absolute h-full md:scale-125 top-0 object-cover;
      }
      .double-arrow {
        @apply absolute bottom-5 w-48 left-1/2 -translate-x-1/2;
      }
      .play-img {
        @apply rounded-full md:size-28 size-20 bg-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex justify-center items-center;
      }
      .fake-logo-wrapper {
        @apply absolute z-50 xs:top-[9.5rem] sm:top-[12.8rem] md:top-[8.5rem] 2xl:top-44 3xl:top-32 left-1/2 -translate-x-1/2;
      }
      .overlay-logo {
        @apply size-full object-cover opacity-0 w-20 md:w-24 2xl:w-28 3xl:w-32;
      }
    }
    .first-vd-wrapper {
      .first-vd {
        @apply size-full object-cover md:[object-position:50%_center] [object-position:75%_center];
      }
    }
    .entrance-message {
      @apply absolute inset-0 w-full h-dvh overflow-hidden z-20 opacity-100;
  
    
    }
    .ellie {
      @apply relative z-10 lg:ps-40 2xl:ps-80 ps-10 py-40 mt-60 flex lg:flex-row flex-col justify-between gap-5 w-dvw overflow-x-hidden;
  
      h1 {
        @apply text-yellow font-long uppercase text-8xl mb-20;
      }
      h2 {
        @apply text-green md:text-5xl text-3xl mb-7 md:pe-20 pe-10;
      }
      p {
        @apply text-white md:text-2xl text-lg md:pe-28 pe-14;
      }
      .ellie-1 {
        @apply bg-yellow lg:h-[80vh] w-auto -translate-x-5;
  
        img {
          @apply size-full object-cover [object-position:5%_center] hover:scale-[0.98] transition duration-700 ease-in-out;
        }
      }
      .ellie-2 {
        @apply bg-yellow h-[90vh] w-auto md:mt-36 mt-20 -translate-x-5;
  
        img {
          @apply size-full object-cover [object-position:80%_center] hover:scale-x-[0.97] hover:scale-y-[0.98] transition duration-700 ease-in-out;
        }
      }
      .ellie-3 {
        @apply bg-yellow h-[50vh] md:w-[60%] -translate-x-5;
  
        img {
          @apply size-full object-cover [object-position:42%_center] hover:scale-[0.97] transition duration-700 ease-in-out;
        }
      }
    }
    .abby {
      @apply relative;
    }
    .abby-life {
      @apply relative z-10 py-40 mt-60 flex lg:flex-row flex-col justify-between gap-5 w-dvw overflow-x-hidden;
  
      h1 {
        @apply text-yellow font-long uppercase text-8xl mb-20;
      }
      h2 {
        @apply text-green md:text-5xl text-3xl mb-7 md:pe-20 pe-10;
      }
      p {
        @apply text-white md:text-2xl text-lg md:pe-28 pe-14;
      }
      p:last-of-type {
        @apply md:hidden block xl:block;
      }
      .abby-1 {
        @apply bg-yellow lg:h-[80vh] w-auto -translate-x-5;
  
        img {
          @apply size-full object-cover [object-position:85%_center] hover:scale-[0.98] transition duration-700 ease-in-out;
        }
      }
      .abby-2 {
        @apply bg-yellow lg:h-[60vh] lg:w-[70%] w-[80%] md:my-36 my-20 lg:-translate-x-5 translate-x-5;
  
        img {
          @apply size-full object-cover [object-position:50%_center] hover:scale-x-[0.98] hover:scale-y-[0.98] transition duration-700 ease-in-out;
        }
      }
      .abby-3 {
        @apply bg-yellow lg:h-[90vh] md:w-[60%] -translate-x-5;
  
        img {
          @apply size-full object-cover [object-position:62%_center] hover:scale-x-[0.98] hover:scale-y-[0.99] transition duration-700 ease-in-out;
        }
      }
    }
    
    .final {
      @apply relative h-dvh overflow-hidden;
  
      .final-content {
        @apply scale-110;
      }
    }
  
    .final-message {
      @apply absolute w-full h-dvh overflow-hidden z-50 opacity-100;
    }
  }
  
  .black-gradient-bg {
    background: linear-gradient(
      223.17deg,
      rgb(28, 24, 41) 0%,
      rgb(27, 24, 40) 8.61%,
      rgb(25, 23, 36) 17.21%,
      rgb(22, 21, 32) 25.82%,
      rgb(20, 19, 28) 34.42%,
      rgb(18, 18, 24) 43.03%,
      rgb(17, 17, 23) 51.63%
    );
  }
  
  .entrance-message {
    mask-image: radial-gradient(circle at 50% 100vh, black 0%, transparent 0%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
  
  .mask-wrapper {
    mask-image: url("/images/us-logo.svg");
    mask-repeat: no-repeat;
  }
  
  .animated-gradient-bg {
    background: linear-gradient(135deg, var(--color-black) 50%, var(--color-green) 100%);
  }
  
  .ellie-content,
  .abby-life-content {
    background: radial-gradient(ellipse, #111117 20%, transparent 70%);
  }